body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
     .a{
         
      background-color:lightyellow;
     word-spacing:0px;
text-align:justify;
text-transform:none;
text-decoration:none;
text-indent:180px;

         
         
         
         
     }